<div
  class="container is-flex is-justify-content-center is-align-items-center image"
>
  <div>
    <div class="field">
      <label class="label">
        Email
      </label>
      <div class="control has-icons-left has-icons-right">
        <input
          class="input is-link"
          id="email-login"
          type="email"
          placeholder="email"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">
        Password
      </label>
      <div class="control has-icons-left has-icons-right">
        <input
          class="input is-link"
          id="password-login"
          type="text"
          placeholder="password"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link signup-button">
          Create New User
        </button>
      </div>
      <div class="control">
        <button class="button is-link is-light login-button">
          Login
        </button>
      </div>
    </div>
  </div>
</div>